* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.container {
  width: 320px;
  padding: 30px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
}

.box {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 15px;
}

button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}

#login {
  background: #00c853;
  justify-content: space-between;

}

#close {
  background: #ff3d00;
   justify-content: space-between;
}

.box div {
  display: flex;
  justify-content: space-between;
}
